ion-content::part(background) {
	--background: #fff;
}

.eu__header {
	background: #fff;
	.eu__toolbar {
		--background: rgba(0, 0, 0, 0);
		.eu__button {
			--background-activated: rgba(0, 0, 0, 0);
			--background-hover: rgba(0, 0, 0, 0);
			--background: rgba(0, 0, 0, 0);
			height: 40px;
			width: 50px;
			margin: -5px 0 0 -9px;
			.eu__img {
				position: relative;
				left: -8px;
				top: -2px;
				filter: brightness(0.4);
			}
		}
	}
}

.wrapper {
	padding-right: 40px;
	.title {
		font-family: 'ClearSans';
    font-size: 20.1px;
    color: #c33e01;
    font-weight: 600;
    margin: 17px 0 0;
	}

	.eu__item {
		padding-left: 5px;
		overflow: visible;
		--border-color: #ccc;
		.input-label {
			font-family: 'ClearSans';
			font-size: 12px;
		}
		.eu__input {
			font-family: 'ClearSans';
			font-size: 16px;
			color: #222;
		}
		.city {
			font-family: 'ClearSans';
			font-size: 16px;
			padding: 8px 0;
			color: #222;
		}
		.grid-label {
			font-family: 'ClearSans';
			font-size: 11px;
		}
		.eu__select {
			font-family: 'ClearSans';
			padding: 13px 0 3px;
			min-width: 120%;
			font-size: 16px;
			border-bottom: 1px solid #ccc;
		}
		.eu__select::part(text) {
			color: #222;
		}
		.eu__select::part(icon) {
			display: none;
		}
		.eu__grid {
			padding: 0;
			.eu__row {
				max-height: 67px;
				.eu__col {
					padding: 5px 0;
					.eu__icon {
						margin: 36px 0 0 1px;
						color: #ccc;
					}
					.age {
						font-family: 'ClearSans';
						max-height: 27px;
						margin-top: 15px;
						font-size: 16px;
						border-bottom: 1px solid #ccc;
					}
				}
				.age-col {
					transform: translateX(10px);
					min-width: 109px;
				}
			}
		}
	}
}

.btns-wrapper {
	.eu__button {
		--background: #f2eae6;
		--background-activated: #f2eae6;
		--background-hover: #f2eae6;
		--color: #b7a198;
		--border-radius: 20px;
    width: 98%;
    margin-top: 12px;
		.cloud {
			position: relative;
			top: -7px;
		}
		.eu__label {
			min-width: 177px;
			text-align: left;
			padding-left: 9px;
			.eu__text {
				display: block;
				width: 100%;
				font-family: 'ClearSans';
				font-size: 12.4px;
				line-height: 17px;
			}
			.size-doc {
				font-size: 10px;
			}
		}
	}

	.load-doc-btn {
		min-height: 47px;
	}

	.load-photo-btn {
		max-height: 42px;
		.eu__label {
			min-width: 199px;
			font-size: 12.4px;
			padding-bottom: 10px;
		}
	}

	.eu__item {
		.eu__avatar {
			margin: 7px auto;
			height: 65px;
			width: 65px;
			.eu__img {
				position: relative;
				top: -52px;
				left: 51px;
				height: 25px;
				width: 25px;
				border: 4px solid #fff;
				box-sizing: content-box;
			}
		}
	}

	.send-button {
		--background: #c33e01;
		--background-activated: #aa3f0e;
		--background-hover: #aa3f0e;
		--color: #fff;
    --box-shadow: 0px 10px 25px #c32d5d40;
    margin: 16px 0 20px;
    font-family: 'ClearSans';
	}
}