<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list class="wrapper ion-padding-horizontal">
    <ion-item lines="none">
      <ion-label class="title">
        Заполните свои данные
      </ion-label>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="stacked" class="input-label" color="medium">Фамилия</ion-label>
      <ion-input>Классен</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="input-label" color="medium">Имя</ion-label>
      <ion-input>Дмитрий</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="input-label" color="medium">Отчество</ion-label>
      <ion-input>Петрович</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="input-label" color="medium">E-mail</ion-label>
      <ion-input type="email">d@yandex.ru</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="input-label" color="medium">Телефон</ion-label>
      <ion-input inputmode="numeric" type="number">+7(929) 717-63-02</ion-input>
    </ion-item>

    <ion-item routerLink="federal" detailIcon="">
      <ion-label position="stacked" class="input-label" color="medium">Город</ion-label>
      <ion-text class="city">Самарская область</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-label class="grid-label" position="stacked" color="medium">Пол</ion-label>
            <ion-select value="male">
              <ion-select-option value="male">Мужской</ion-select-option>
              <ion-select-option value="female">Женский</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-icon name="chevron-down"></ion-icon>
          </ion-col>
          <ion-col></ion-col>
          <ion-col class="age-col" size="5">
            <ion-label class="grid-label" position="stacked" color="medium">Возраст</ion-label>
            <ion-input class="age" min="14" inputmode="numeric" value="14" type="number"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list class="btns-wrapper ion-padding-horizontal ion-margin-horizontal">
    <ion-button class="load-doc-btn">
      <ion-img src="../../assets/icon/doc.svg" class="cloud" slot="start"></ion-img>
      <ion-label>
        <ion-text>document.png</ion-text>
        <ion-text class="size-doc">1756 Кб</ion-text>
      </ion-label>
      <ion-img src="../../assets/icon/edit-doc.svg" slot="end"></ion-img>
    </ion-button>

    <ion-button class="load-photo-btn" expand="block">
      <ion-img src="../../assets/icon/doc.svg" class="cloud" slot="start"></ion-img>
      <ion-label>
        Загрузить документ
      </ion-label>
    </ion-button>

    <ion-item lines="none">
      <ion-avatar>
        <img src="../../assets/icon/favicon.png">
        <ion-img src="../../assets/icon/edit-doc.svg" class="createIcon"></ion-img>
      </ion-avatar>
    </ion-item>

    <ion-button routerLink="/menu" class="send-button" shape="round" expand="block">
      Отправить
    </ion-button>
  </ion-list>
</ion-content>