.chevron {
	width: 70px;
	height: 30px;
}

.tabelBackgroundPlusMarginBottom {
	background: #eee;
	margin-bottom: 5px;
}

.dotSize {
	width: 7px;
}

.gridFontSize {
	font-size: 0.85em;
}

.relearn {
	font-size: 0.9em;
}

ion-col {
	max-width: 33.5%;
	white-space: pre-line;
}

.badgeColor {
	background: #fff;
	color: #222;
}