<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Просмотр программы
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Бесплатное поле
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Бесплатное поле
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Бесплатное поле
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-label>
        <div class="pre-wrap ion-padding">
          Для получения доступа к платным полям, получите доступ
        </div>
      </ion-label>
      <ion-button routerLink="prog-success" shape="round" class="ion-margin" expand="block">
        Получить
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
