ion-content::part(background) {
	background: url(../../assets/prog-bg.png) no-repeat;
	background-position: top;
	background-size: 116% 600px;
	margin-top: -76px;
	background-color: #fff;
}


.po-toolbar {
	--background: rgba(0, 0, 0, 0);
	.po-button {
    --background-activated: rgba(0, 0, 0, 0);
    --background-hover: rgba(0, 0, 0, 0);
    --background: rgba(0, 0, 0, 0);
    height: 28px;
    width: 28px;
    margin: 0 0 9px;
	}
	.po-title {
		margin-left: 14%;
		font-size: 16px;
		color: #faf7f7;
	}
}

.po-card {
	background: #fff;
	color: #777;
}

.po-btn {
	--background: #c33e01;
	--background-activated: #aa3f0e;
	--background-hover: #aa3f0e;
	--color: #fff;
}