<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="po-toolbar">
    <ion-button routerLink="/menu/prog-passports" class="po-button ion-no-padding">
      <ion-img src="../../assets/icon/arrow-white-back.png"></ion-img>
    </ion-button>
    <ion-back-button slot="start" text=""></ion-back-button>
    <ion-label class="po-title">
      Просмотр программы
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list class="ion-padding-horizontal">
    <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
      <ion-avatar class="po-avatar">
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
    </ion-item>
    <ion-item class="pre-wrap ion-no-padding" lines="none">
      <ion-img src="../../assets/bg-login-min.png"></ion-img>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none">
      <ion-label>
        <ion-text class="dark pre-wrap">Бесплатное поле с описанием программы</ion-text>
      </ion-label>
    </ion-item>
    <ion-card class="po-card">
      <ion-label>
        <div class="pre-wrap ion-padding">Для получения доступа к платным полям, получите доступ</div>
      </ion-label>
      <ion-button routerLink="prog-success" class="po-btn ion-margin" shape="round" expand="block">
        Получить
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
