<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Мои дипломы
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="diploma-overview">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      Методика Берга
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      Название
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      Название
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      Название
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      Название
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      Название
    </ion-label>
  </ion-item>
</ion-content>
