<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="diplomas-toolbar">
    <ion-button routerLink="/menu" class="diplomas-button ion-no-padding">
      <ion-img src="../../assets/icon/menu.svg" class="diplomas-img"></ion-img>
    </ion-button>
    <ion-label class="diplomas-title">
      Дипломы и сертификаты
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-horizontal">
  <ion-item routerLink="diploma-overview" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <ion-text class="pre-wrap">Методика Берга</ion-text>
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <ion-text class="pre-wrap">Название</ion-text>
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <ion-text class="pre-wrap">Название</ion-text>
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <ion-text class="pre-wrap">Название</ion-text>
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <ion-text class="pre-wrap">Название</ion-text>
    </ion-label>
  </ion-item>
  <ion-item routerLink="diploma-overview" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar>
      <ion-img src="../../assets/skrin_diploma.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <ion-text class="pre-wrap">Название</ion-text>
    </ion-label>
  </ion-item>
</ion-content>