<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Наставничество
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Методика Берга</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="/course-preview" class="ion-margin-vertical" detail="false">
      <ion-label>
        <div>Название методики</div>
        <p>1000 р</p>
      </ion-label>
      <ion-button routerLink="/course-preview" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
