<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="mp-toolbar">
    <ion-button routerLink="/menu" class="mp-button ion-no-padding">
      <ion-img src="../../assets/icon/menu.svg" class="mp-img"></ion-img>
    </ion-button>
    <ion-label class="mp-title">
      Наставничество
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list class="ion-padding-horizontal">
    <ion-item lines="none">
      <ion-label>
        <ion-text class="smallFont pre-wrap block ion-margin-bottom">Добрый день! Мы рады, что вы решили применить полученные знания на практике. Для этого вам необходимо:</ion-text>
        <ion-text class="smallFont pre-wrap block ion-margin-bottom">*прикрепить документы (перечислить список документов) в личном кабинете пользователя;</ion-text>
        <ion-text class="smallFont pre-wrap block ion-margin-bottom">*выбрать роль (наставник, тьютор, координатор), в которой вы хотели бы принять учасите в практике и отправить информацию в чат тех.поддержки;</ion-text>
        <ion-text class="smallFont pre-wrap block ion-margin-bottom">*далее, ожидайте присвоение вам роли и прикрепление партнеров.</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="full" class="ion-no-padding">
      <ion-select class="mp-select" placeholder="Роль" interface="popover">
        <ion-select-option>Наставник</ion-select-option>
        <ion-select-option>Тьютор</ion-select-option>
        <ion-select-option>Координатор</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-input class="mp-input load-doc-btn" readonly>
      <ion-img src="../../assets/icon/doc.svg" class="cloud"></ion-img>
      <ion-label class="mp-label">
        <ion-text class="mp-text">document.png</ion-text>
        <ion-text class="mp-text size-doc">1756 Кб</ion-text>
        <ion-input class="docLoad ion-padding" type="file" multiple="true"></ion-input>
      </ion-label>
      <ion-img src="../../assets/icon/edit-doc.svg"></ion-img>
    </ion-input>


    <ion-button (click)="presentToast()" routerLink="/menu" class="send-button" shape="round" expand="block">
      Отправить
    </ion-button>
  </ion-list>
</ion-content>