<ion-content mode="ios" class="ion-padding">
  <ion-toolbar class="test__toolbar">
    <ion-button routerLink="/course-preview/concept" class="test__button">
      <ion-img src="../../assets/icon/arrow-white-back.png" class="test__img"></ion-img>
    </ion-button>
    <ion-label class="test__label clearSans">
      Тестирование
    </ion-label>
  </ion-toolbar>

  <ion-label class="test__title clearSans">Вводный курс для муниципальных координаторов программ наставничества молодежи в ТСЖ</ion-label>
  <ion-text class="test__subtitle clearSans">Концепция наставничества</ion-text>

  <div class="test__question">
    <ion-item lines="full">
      <ion-badge class="test__question_badge clearSans">Вопрос 1</ion-badge>
      <ion-label class="test__question_request">
        <ion-text class="test__question_request-text clearSans">Напишите свой вариант ответа</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="test__textarea">
      <ion-textarea
        class="test__textarea_text clearSans"
        rows="5"
        placeholder="Сформулируйте еще 1-2 обязательных признака наставника, о которых не сказано в онлайн-консультации.">
      </ion-textarea>
    </ion-item>
  </div>

  <ion-button routerLink="testing-further" class="test__btn clearSans ion-padding" expand="block" shape="round">
    Отправить на проверку
  </ion-button>
</ion-content>