.question {
	margin: 20px 0;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	min-height: 180px;
	background: #fff;
}

.question__request {
	margin: 0;
	padding-left: 90px;
	white-space: pre-wrap;
}