<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="pp-toolbar">
    <ion-button routerLink="/menu" class="pp-button ion-no-padding">
      <ion-img src="../../assets/icon/menu.svg" class="pp-img"></ion-img>
    </ion-button>
    <ion-label class="pp-title">
      Паспорты программ
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list class="ion-padding-horizontal">
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Методика Берга</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Длинное название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
    <ion-item routerLink="prog-overview" class="ion-no-padding" lines="full" detail="false">
      <ion-label>
        <div class="pre-wrap">Название методики</div>
        <p class="pp-p">1000 р</p>
      </ion-label>
      <ion-button routerLink="prog-overview" class="btn_orangeFont ion-no-padding ion-no-margin" fill="clear" slot="end">
        Посмотреть
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>