.top {
	width: 100%;
	height: 50%;
	object-fit: cover;
	position: absolute;
	z-index: 0;
}

.logo-wrapper {
	position: relative;
	height: 200px;
	padding: 55px 0 0 14px;
	.forLogo {
		width: 124px;
	}
	.logo {
		position: absolute;
    width: 82px;
    top: 72px;
    left: 33px;
	}
}



.bottom {
	background-image: url("../../assets/footer-min.png");
	background-size: 110% 100%;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 440px;
	margin-top: -50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	.title {
		--color: #ff7425;
		font-size: 18px;
		font-weight: 900;
		ion-label {
			margin: 0;
			padding: 0 30% 0 5px;
			white-space: pre-wrap;
			font-family: "ClearSans";
			line-height: 20px;
		}
	}

	.item-email {
		--border-color: #fff;
		width: 83%;
		ion-label {
			--color: #fff;
			font-family: "ClearSans";
			font-size: 16px;
		}
		ion-input {
			--color: #fff;
			font-family: "ClearSans";
			font-size: 16px;
		}
	}

	.item-password {
		--border-color: #fff;
		width: 83%;
		ion-label {
			--color: #fff;
			font-family: "ClearSans";
			font-size: 16px;
		}
		ion-input {
			--color: #fff;
			font-family: "ClearSans";
			font-size: 16px;
		}
	}

	.btn-login {
		--background: linear-gradient(to top, rgb(195, 62, 1), rgb(217, 80, 16));
		--background-activated: #ED8B53;
		--background-hover: #ED8B53;
		--box-shadow: 0px 20px 25px rgba(93,93,93,0.5);
		font-family: "ClearSans";
		font-size: 16px;
		width: 83%;
		margin-bottom: 14px;
		position: relative;
		margin-top: 15px;
		ion-img {
			position: absolute;
			right: -7px;
			width: 22px;
			height: 12px;
			margin-top: 1px;
		}
	}

	.btn-reg {
		--color: #fff;
		font-family: "ClearSans";
		width: 100%;
		margin-bottom: 14px;
	}
}