<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="mc-toolbar">
    <ion-button routerLink="/mentor-participation" class="mc-button ion-no-padding">
      <ion-img src="../../assets/icon/arrow-white-back.png"></ion-img>
    </ion-button>
    <ion-label class="mc-title">
      Просмотр сертификата
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-horizontal">
  <ion-img src="../../assets/certificate.png"></ion-img>
  <ion-button class="mc-btn ion-margin" download="certificate" href="../../assets/certificate.png" expand="block" shape="round">Скачать</ion-button>
</ion-content>
