.badge {
	padding: 0;
	border-radius: 0;
	color: #92949c;
	background-color: white;
	font-size: x-small;
	margin: 10px 0 auto;
	text-align: right;
}

.dot {
	height: 7px;
	float: right;
}

.xsFont {
	font-size: x-small;
	color: lightgray;
}