<ion-header mode="ios" class="chat-header ion-no-border ion-padding">
  <ion-toolbar class="chat-toolbar">
    <ion-button routerLink="/menu" class="chat-button ion-no-padding ion-no-margin">
      <ion-img src="../../assets/icon/menu.svg" class="chat-img"></ion-img>
    </ion-button>
    <ion-label class="chat-label">
      Чат
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentModal()" class="chat-fab" size="small">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content mode="ios" class="ion-padding">
  <ion-item routerLink="chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Техподдержка 1</div>
      <div class="chat-labelMiddle">Сервис</div>
      <div class="chat-labelBottom dark">Вы: Добрый день</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:45:05</div>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="common-chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Ментор тестовый</div>
      <div class="chat-labelMiddle">Наставник</div>
      <div class="chat-labelBottom dark">Тест</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:41:02</div>
      <ion-icon class="dot" color="danger" name="ellipse-sharp"></ion-icon>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Техподдержка 1</div>
      <div class="chat-labelMiddle">Сервис</div>
      <div class="chat-labelBottom dark">Вы: Добрый день</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:45:05</div>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="common-chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Ментор тестовый</div>
      <div class="chat-labelMiddle">Наставник</div>
      <div class="chat-labelBottom dark">Тест</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:41:02</div>
      <ion-icon class="dot" color="danger" name="ellipse-sharp"></ion-icon>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Техподдержка 1</div>
      <div class="chat-labelMiddle">Сервис</div>
      <div class="chat-labelBottom dark">Вы: Добрый день</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:45:05</div>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="common-chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Ментор тестовый</div>
      <div class="chat-labelMiddle">Наставник</div>
      <div class="chat-labelBottom dark">Тест</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:41:02</div>
      <ion-icon class="dot" color="danger" name="ellipse-sharp"></ion-icon>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Техподдержка 1</div>
      <div class="chat-labelMiddle">Сервис</div>
      <div class="chat-labelBottom dark">Вы: Добрый день</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:45:05</div>
    </ion-badge>
  </ion-item>
  <ion-item routerLink="common-chatting" class="ion-no-padding" lines="full" detail="false">
    <ion-avatar class="chat-avatar">
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-avatar>
    <ion-label class="ion-padding-horizontal">
      <div class="chat-labelTop dark">Ментор тестовый</div>
      <div class="chat-labelMiddle">Наставник</div>
      <div class="chat-labelBottom dark">Тест</div>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:41:02</div>
      <ion-icon class="dot" color="danger" name="ellipse-sharp"></ion-icon>
    </ion-badge>
  </ion-item>
</ion-content>
