<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
      <ion-button routerLink="/reg">
        <ion-img src="../../assets/icon/arrow.png"></ion-img>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list>
    <ion-list-header class="title">
      Пользовательское соглашение
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">1. Термины, используемые в Cоглашении</ion-text>
        <ion-text class="text">
          <p>Компания – Чередилина Мария Юрьевна</p>
          <p>Сайт, Ресурс — интернет-ресурс NewMentor http://newmentor.ru</p>
          <p>Администрация —лица, уполномоченные надлежащим образом Компанией на управление Ресурсом и предоставление
            Услуг Компании Посетителям, в рамках использования Сайта последними.</p>
          <p>Сервис — совокупность программ для ЭВМ, баз данных, обеспечивающих функционирование Сайта, а также
            совокупность Услуг, предоставляемых Пользователям при использовании Сайта.</p>
          <p>Посетитель — любое физическое лицо, старше 14 лет, использующее Ресурс.</p>
          <p>Пользователь — Посетитель, прошедший процедуру регистрации.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">2. Общие положения</ion-text>
        <ion-text class="text">
          <p>Настоящее Соглашение регулирует порядок использования Сервиса NewMentor, а также
            взаимоотношения, возникающие при использовании Сервисов Посетителями.</p>
          <p>
            Посетитель, совершая любые действия по использованию Сервиса, выражает свое полное и безоговорочное согласие
            (Акцепт) с условиями Соглашения об использовании Сервиса. В момент совершения Посетителем Акцепта оферты,
            Посетитель и Компания считаются заключившими настоящее Соглашение.</p>
          <p>
            Соглашение об использовании Сервиса, заключаемое в форме публичной оферты, предусмотрено Гражданским
            Кодексом Российской Федерации, не требует двустороннего подписания и действительно в электронном виде.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">3. Регистрация Пользователя</ion-text>
        <ion-text class="text">
          <p>При Регистрации Пользователь выражает свое согласие с настоящим Соглашением и принимает на себя указанные в
            нем права и обязанности, связанные с использованием и функционированием Ресурса. После успешной регистрации
            Пользователя на Ресурсе Компания принимает на себя права и обязанности перед Пользователем, указанные в
            настоящем Соглашении.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">4. Ответственность Пользователей и Посетителей</ion-text>
        <ion-text class="text">
          <p>Посетители самостоятельно несут ответственность за свои действия/бездействие при использовании Ресурса.
            Посетители гарантируют, что обладают правами на использование материалов, размещаемых ими на Ресурсе.
            Посетители обязуются соблюдать настоящее Соглашение. При нарушении Посетителями Соглашения Администрация
            оставляет за собой право отказать в доступе к Сервисам.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">5. Права и обязанности Пользователя и Посетителя</ion-text>
        <ion-text class="text">
          <p>Любой Посетитель Ресурса имеет право использовать Сервисы, доступ к которым предоставлен ему Компанией в
            лице Администрации.</p>
          <p>Пользователю при использовании Сайта запрещается:</p>
          <ul class="pre-wrap">
            <li>регистрироваться в качестве Пользователя от имени или вместо другого лица;</li>
            <li>искажать сведения о себе;</li>
            <li>загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать
              любую информацию, которая: содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или
              деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;
              нарушает права несовершеннолетних лиц; является вульгарной или непристойной, содержит порнографические
              изображения и тексты или сцены сексуального характера с участием несовершеннолетних; содержит сцены
              бесчеловечного обращения с животными; содержит описание средств и способов суицида, любое
              подстрекательство к его совершению; пропагандирует и/или способствует разжиганию расовой, религиозной,
              этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства; содержит
              экстремистские материалы; пропагандирует преступную деятельность или содержит советы, инструкции или
              руководства по совершению преступных действий, содержит информацию ограниченного доступа, включая, но не
              ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц; содержит
              рекламу или описывает привлекательность употребления наркотических веществ, информацию о распространении
              наркотиков, рецепты их изготовления и советы по употреблению; носит мошеннический характер; а также
              нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской
              Федерации;</li>
            <li>незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом
              использовать интеллектуальную собственность Пользователей и третьих лиц;</li>
          </ul>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">6. Услуги Компании</ion-text>
        <ion-text class="text">
          <p>Компания может оказывать Пользователю Услуги (далее — «Услуги») на платной основе по предоставлению
            информации на Сайте</p>
          <p>Пользователь обязуется своими силами и за свой счет разрешать споры и урегулировать претензии третьих лиц,
            либо возместить убытки (включая судебные расходы), причиненные Компании в связи с претензиями и исками,
            основанием предъявления которых явились действия или бездействия Пользователя при использовании Услуг
            Компании. В случае, если содержание, форма и/или размещение информации Пользователя на Сайте явилось
            основанием для предъявления к Компании предписаний по уплате штрафных санкций со стороны государственных
            органов, Пользователь обязуется незамедлительно по требованию Компании предоставить всю запрашиваемую
            информацию, касающуюся размещения и содержания информации на Сайте, содействовать Компании в урегулировании
            предписаний, а также возместить все убытки (включая расходы по уплате штрафов), причиненные Компании
            вследствие предъявления ей, предписаний в результате размещения информации Пользователя на сайте.</p>
          <p>Компания имеет право направлять смс Посетителям (Пользователям) на номера телефонов, указанные последними
            при использовании Сайта.</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-text class="subtitle pre-wrap">7. Вступление в силу и порядок изменения настоящего Соглашения</ion-text>
        <ion-text class="text">
          <p>Соглашение, Приложения к Соглашению и изменения к ним вступают силу с момента их опубликования на Ресурсе.
            Изменения в Соглашении и Приложениях к Соглашению могут быть внесены в любое время. Пользователь и/или
            Посетитель обязуется знакомиться с актуальной версией Соглашения перед каждым использованием Ресурса,
            Сервисов и/или Услуг Компании. Если Пользователь и/или Посетитель примет решение не соглашаться с измененным
            Соглашением, то он обязан отказаться от использования Сервиса. Пользователь, продолжающий пользование
            Ресурсом, Сервисами и/или Услугами Компании, соглашается с изменениями.</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="annex">
        <ion-text class="annex__title pre-wrap">Приложение №1</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-text class="text">
          <p class="annex__subtitle">к Соглашению об использовании Сервиса</p>
          <p>Правила защиты информации о Пользователях Сервиса</p>
          <p>Настоящие Правила являются официальным документом Компании и определяют порядок обработки и защиты
            информации о физических лицах (далее — «Пользователи»), пользующихся услугами Сервиса.</p>
          <p>Целью настоящих Правил является обеспечение надлежащей защиты информации о Пользователях, в том числе их
            персональных данных, от несанкционированного доступа и разглашения. Отношения, связанные со сбором,
            хранением, распространением и защитой информации о Пользователях Сервиса, регулируются настоящими Правилами,
            иными официальными документами Компании и действующим законодательством Российской Федерации. Действующая
            редакция Правил, являющихся публичным документом, доступна в разделе «Пользовательское соглашение». Компания
            вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Администрация Сервиса
            уведомляет об этом Пользователей путем размещения новой редакции Правил. Регистрируясь и используя Сайт,
            Пользователь выражает свое согласие с условиями настоящих Правил. В случае несогласия Пользователя с
            условиями настоящих Правил использование Сервиса пользование должно быть немедленно прекращено.</p>
          <p>Условия пользования Сайтом</p>
          <p>Оказывая услуги по использованию Сервиса Компания, действуя разумно и добросовестно, считает, что
            Пользователь:</p>
          <p>Пользователь — Посетитель, прошедший процедуру регистрации.</p>
          <ul class="pre-wrap">
            <li>обладает всеми необходимыми правами, позволяющими ему осуществлять Регистрацию и использовать настоящий
              Сайт;</li>
            <li>указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;</li>
            <li>осознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для
              других Пользователей Сайта и Пользователей Интернета, может быть скопирована и распространена такими
              Пользователями;</li>
            <li>осознает, что некоторые виды информации, переданные им другим Пользователям, не могут быть удалены самим
              Пользователем;</li>
            <li>ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них
              права и обязанности.</li>
          </ul>
          <p>Компания не проверяет достоверность получаемой (собираемой) информации о Пользователях, за исключением
            случаев, когда такая проверка необходима в целях исполнения Компанией обязательств перед Пользователем.</p>
          <p>Цели обработки информации</p>
          <p>Компания осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях
            выполнения обязательств Компании перед Пользователями в отношении использования Сайта и его Сервисов.</p>
          <p>Состав информации о Пользователях</p>
          <p>Персональные данные Пользователей включают в себя:</p>
          <ul class="pre-wrap">
            <li>предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя, фамилия,
              отчество, номер мобильного телефона;</li>
            <li>дополнительно предоставляемые Пользователями информация в анкете исполнителя. Компания вправе, в
              частности, запросить у Пользователя копию документа, удостоверяющего личность, либо иного документа,
              содержащего имя, фамилию, фотографию Пользователя, а также иную дополнительную информацию, которая, по
              усмотрению Администрации Сайта, будет являться необходимой и достаточной для идентификации такого
              Пользователя и позволит исключить злоупотребления и нарушения прав третьих лиц.</li>
          </ul>
          <p>Меры по защите информации о Пользователях</p>
          <p>Компания принимает технические и организационно-правовые меры в целях обеспечения защиты персональных
            данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования,
            копирования, распространения, а также от иных неправомерных действий.</p>
          <p>Для авторизации доступа к Сервису используется адрес электронной почты и пароль. Ответственность за
            сохранность данной информации несет Пользователь. Пользователь не вправе передавать собственный пароль
            третьим лицам, а также обязан предпринимать меры по обеспечению его конфиденциальности.</p>
          <p>Условия и цели обработки персональных данных</p>
          <p>Компания осуществляет обработку персональных данных Пользователя в целях исполнения договора между
            Компанией и Пользователем на оказание Услуг Сервиса. В силу статьи 6 Федерального закона от 27.07.2006 №
            152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его персональных данных не
            требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сервиса вправе осуществлять
            обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных
            данных.</p>
          <p>Сбор персональных данных</p>
          <p>Цели обработки информации</p>
          <p>Передача персональных данных</p>
          <p>Персональные данные Пользователей не передаются Компанией каким-либо третьим лицам, за исключением
            предоставления Персональных данных Пользователей в целях исполнения настоящего Соглашения, а также по
            запросу компетентных государственных органов (Прокуратуры, Полиции, Суда и иных) в целях соблюдения норм
            действующего законодательства РФ.</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="annex">
        <ion-text class="annex__title pre-wrap">Приложение №2</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-text class="text">
          <p class="annex__subtitle">к Соглашению об использовании Сервиса</p>
          <p>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
          <p>Настоящим я, далее – «Субъект Персональных Данных», во исполнение требований Федерального закона от
            27.07.2006 г. № 152-ФЗ «О персональных данных» (с изменениями и дополнениями) свободно, своей волей и в
            своем интересе даю свое согласие Чередилиной Марии Юрьевне на обработку своих персональных данных, указанных
            при регистрации путем заполнения веб-формы на сайте http://newmentor.ru (далее – Сайт), направляемой
            (заполненной) с использованием Сайта, а так же при оформлении заказов интернет-магазина Сервис OnWiz (далее
            Интернет-магазин).</p>
          <p>Система оформления заказов и прием платежей предоставляется компанией Онвиз. Обработка данных по заказам
            осуществляется ООО "Онвиз" в полном соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О
            персональных данных» (с изменениями и дополнениями). Данные предаются по защищенному https:// соединению,
            исключают перехват злоумышленниками, и не будут переданы третьим лицам ни под каким предлогом. Обработка
            данных, полученных через подписные формы осуществляется с помощью продуктов и служб, предоставляемых
            сервисом АвтоВебОфис. Сервис АвтоВебОфис обеспечивает пользователю конфиденциальность персональных данных
            пользователя, предоставленных им в процессе регистрации, а также конфиденциальность всех данных, находящихся
            в аккаунте пользователя в полном соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О
            персональных данных» (с изменениями и дополнениями).</p>
          <p>Под персональными данными я понимаю любую информацию, относящуюся ко мне как к Субъекту Персональных
            Данных, в том числе мои фамилию, имя, отчество, адрес, образование, профессию, контактные данные (телефон,
            факс, электронная почта, почтовый адрес), фотографии, иную другую информацию. Под обработкой персональных
            данных я понимаю сбор, систематизацию, накопление, уточнение, обновление, изменение, использование,
            распространение, передачу, в том числе трансграничную, обезличивание, блокирование, уничтожение, бессрочное
            хранение), и любые другие действия (операции) с персональными данными.</p>
          <p>Обработка персональных данных Субъекта Персональных Данных осуществляется исключительно в целях регистрации
            Субъекта Персональных Данных в базе данных Сайта и Интернет-магазина с последующим направлением Субъекту
            Персональных Данных почтовых сообщений и смс-уведомлений, в том числе рекламного содержания, от Сайта и
            Интернет-магазина, его аффилированных лиц и/или субподрядчиков, информационных и новостных рассылок,
            приглашений на мероприятия Сайта и Интернет-магазина и другой информации рекламно-новостного содержания, а
            также с целью подтверждения личности Субъекта Персональных Данных при посещении мероприятий Сайта и
            Интернет-магазина.</p>
          <p>Датой выдачи согласия на обработку персональных данных Субъекта Персональных Данных является дата отправки
            регистрационной веб-формы с Сайта и Интернет-магазина.
            Обработка персональных данных Субъекта Персональных Данных может осуществляться с помощью средств
            автоматизации и/или без использования средств автоматизации в соответствии с действующим законодательством
            РФ и внутренними положениями Сайта и Интернет-магазина.</p>
          <p>Сайт и Интернет-магазин принимает необходимые правовые, организационные и технические меры или обеспечивает
            их принятие для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения,
            изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных
            неправомерных действий в отношении персональных данных, а также принимает на себя обязательство сохранения
            конфиденциальности персональных данных Субъекта Персональных Данных. Сайт и Интернет-магазин вправе
            привлекать для обработки персональных данных Субъекта Персональных Данных субподрядчиков, а также вправе
            передавать персональные данные для обработки своим аффилированным лицам, обеспечивая при этом принятие
            такими субподрядчиками и аффилированными лицами соответствующих обязательств в части конфиденциальности
            персональных данных.</p>
          <p>Я ознакомлен(а), что:</p>
          <ol class="pre-wrap">
            <li>настоящее согласие на обработку моих персональных данных, указанных при регистрации на Сайте и
              Интернет-магазине, направляемых (заполненных) с использованием Cайта и Интернет-магазина, действует в
              течение 20 (двадцати) лет с момента регистрации на Cайте и Интернет-магазине;</li>
            <li>согласие может быть отозвано мною на основании письменного заявления в произвольной форме;</li>
            <li>предоставление персональных данных третьих лиц без их согласия влечет ответственность в соответствии с
              действующим законодательством Российской Федерации.</li>
          </ol>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="annex">
        <ion-text class="annex__title pre-wrap">Приложение №3</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-text class="text">
          <p class="annex__subtitle">к Соглашению об использовании Сервиса</p>
          <p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в
            отношении всей информации, которую Интернет- NewMentor, расположенный на доменном имени http://newmentor.ru
            может получить о Пользователе во время использования сайта Интернет-ресурса, программ и продуктов
            Интернет-ресурса.</p>
          <p>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</p>
          <p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
          <p>1.1.1. «Администрация сайта Интернет-ресурса (далее – Администрация сайта)» – уполномоченные сотрудники на
            управления сайтом, действующие от имени проекта NewMentor которая организует и (или) осуществляет обработку
            персональных данных, а также определяет цели обработки персональных данных, состав персональных данных,
            подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
          <p>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или
            определяемому физическому лицу (субъекту персональных данных).</p>
          <p>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций),
            совершаемых с использованием средств автоматизации или без использования таких средств с персональными
            данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
            извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
            удаление, уничтожение персональных данных.</p>
          <p>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным
            получившим доступ к персональным данным лицом требование не допускать их распространения без согласия
            субъекта персональных данных или наличия иного законного основания.</p>
          <p>1.1.5. «Пользователь сайта Интернет-ресурса (далее Пользователь)» – лицо, имеющее доступ к Сайту,
            посредством сети Интернет и использующее Сайт Интернет-ресурса.</p>
          <p>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере
            пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при
            попытке открыть страницу соответствующего сайта.</p>
          <p>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
          <p>2. ОБЩИЕ ПОЛОЖЕНИЯ</p>
          <p>2.1. Использование Пользователем сайта Интернет-ресурса означает согласие с настоящей Политикой
            конфиденциальности и условиями обработки персональных данных Пользователя.</p>
          <p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить
            использование сайта Интернет-ресурса.</p>
          <p>2.3.Настоящая Политика конфиденциальности применяется только к сайту Интернет-ресурса http://newmentor.ru
            Интернет-ресурс NewMentor не контролирует и не несет ответственность за сайты третьих лиц, на которые
            Пользователь может перейти по ссылкам, доступным на сайте Интернет-ресурса.</p>
          <p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем
            сайта Интернет-ресурса.</p>
          <p>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</p>
          <p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта Интернет-ресурса
            по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь
            предоставляет по запросу Администрации сайта при регистрации на сайте Интернет-ресурса, при оформлении
            заказа для приобретения Товара или совершая иные действия на сайте Интернет-ресурса.</p>
          <p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности,
            предоставляются Пользователем путём заполнения регистрационной формы на Сайте Интернет-ресурса
            http://newmentor.ru в разделах и рубриках сайта http://newmentor.ru и включают в себя следующую информацию:
          </p>
          <p>3.2.1. фамилию, имя, отчество Пользователя;</p>
          <p>3.2.2. контактный телефон Пользователя;</p>
          <p>3.2.3. адрес электронной почты (e-mail);</p>
          <p>3.2.4. адрес доставки Товара\Продукта;</p>
          <p>3.2.5. место жительство Пользователя;</p>
          <p>3.2.6. почтовый индекс и почтовый адрес Пользователя;</p>
          <p>3.2.7. должность и место работы Пользователя</p>
          <p>3.3. Интернет-ресурс защищает Данные, которые автоматически передаются в процессе просмотра рекламных
            блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):</p>
          <p>IP адрес;</p>
          <p>информация из cookies;</p>
          <p>информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);</p>
          <p>время доступа;</p>
          <p>адрес страницы, на которой расположен рекламный блок;</p>
          <p>реферер (адрес предыдущей страницы).</p>
          <p>3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Интернет-ресурса, требующим
            авторизации.</p>
          <p>3.3.2. Интернет-ресурс осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация
            используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых
            платежей.</p>
          <p>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</p>
          <p>4.1. Персональные данные Пользователя Администрация сайта Интернет-ресурса может использовать в целях:</p>
          <p>4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-ресурса, для оформления заказа и
            (или) заключения Договора купли-продажи товара дистанционным способом с сайта http://newmentor.ru</p>
          <p>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта Интернет-ресурса.</p>
          <p>4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся
            использования Сайта Интернет-ресурса, оказания услуг, обработка запросов и заявок от Пользователя.</p>
          <p>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения
            мошенничества.</p>
          <p>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</p>
          <p>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной
            записи.</p>
          <p>4.1.7. Уведомления Пользователя Сайта Интернет-ресурса о состоянии Заказа.</p>
          <p>4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа,
            определения права на получение кредитной линии Пользователем.</p>
          <p>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем
            связанных с использованием Сайта Интернет-ресурса.</p>
          <p>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений,
            информации о ценах, новостной рассылки и иных сведений от имени Интернет-ресурса или от имени партнеров
            Интернет-ресурса.</p>
          <p>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.</p>
          <p>4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-ресурса с целью
            получения продуктов, обновлений и услуг.</p>
          <p>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</p>
          <p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным
            способом, в том числе в информационных системах персональных данных с использованием средств автоматизации
            или без использования таких средств.</p>
          <p>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим
            лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно
            в целях выполнения заказа Пользователя, оформленного на Сайте Интернет-ресурса http://newmentor.ru
            включая доставку Товара.;</p>
          <p>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти
            Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
          </p>
          <p>5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате
            или разглашении персональных данных.</p>
          <p>5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной
            информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования,
            копирования, распространения, а также от иных неправомерных действий третьих лиц.</p>
          <p>5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков
            или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</p>
          <p>6. ОБЯЗАТЕЛЬСТВА СТОРОН</p>
          <p>6.1. Пользователь обязан:</p>
          <p>6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом Интернет-ресурса.
          </p>
          <p>6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной
            информации.</p>
          <p>6.2. Администрация сайта обязана:</p>
          <p>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики
            конфиденциальности.</p>
          <p>6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного
            письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение
            иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3.
            настоящей Политики Конфиденциальности.</p>
          <p>6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя
            согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</p>
          <p>6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента
            обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите
            прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных
            или неправомерных действий.</p>
          <p>7. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
          <p>7.1. Администрация сайта, не несёт ответственность за убытки, понесённые Пользователем в связи с
            неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, в
            том числе в случаях, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.</p>
          <p>7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт
            ответственность, если данная конфиденциальная информация:</p>
          <p>7.2.1. Стала публичным достоянием до её утраты или разглашения.</p>
          <p>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</p>
          <p>7.2.3. Была разглашена с согласия Пользователя.</p>
          <p>8. РАЗРЕШЕНИЕ СПОРОВ</p>
          <p>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта
            Интернет-ресурса и Администрацией сайта, обязательным является предъявление претензии (письменного
            предложения о добровольном урегулировании спора).</p>
          <p>8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет
            заявителя претензии о результатах рассмотрения претензии.</p>
          <p>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с
            действующим законодательством Российской Федерации.</p>
          <p>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта
            применяется действующее законодательство Российской Федерации.</p>
          <p>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</p>
          <p>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия
            Пользователя.</p>
          <p>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте Интернет-ресурса,
            если иное не предусмотрено новой редакцией Политики конфиденциальности.</p>
          <p>9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать Марии
            Чередилиной </p>
          <p>9.4. Действующая Политика конфиденциальности размещена на странице по адресу http://newmentor.ru</p>
          <p>Заключительные положения Соглашения об использовании Сервиса</p>
          <p>В случае возникновения любых споров или разногласий, связанных с исполнением настоящего Соглашения,
            Пользователь и Компания приложат все усилия для их разрешения путем проведения переговоров между ними. В
            случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном
            действующим законодательством Российской Федерации.</p>
          <p>Настоящее Соглашение вступает в силу для Пользователя с момента его присоединения к нему и действует в
            течение неопределенного срока.</p>
          <p>Реквизиты:</p>

          <div class="requisites">
            Чередилина Мария Юрьевна<br>
            Адрес регистрации: 109388, Россия, г.Москва<br>
            Email: postnewmentor@gmail.com<br>
          </div>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>