<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-select slot="start" value="RUS">
      <ion-select-option value="RUS">RUS</ion-select-option>
      <ion-select-option value="ENG">ENG</ion-select-option>
    </ion-select>
    <ion-button routerLink="/auth" slot="end" fill="clear">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/edit-user" lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h1>Классен Дмитрий</h1>
        <p>Обучающийся</p>
        <h2>Пользователь №345</h2>
      </ion-label>
    </ion-item>
    <ion-item routerLink="learn-material" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Материалы для изучения
      </p>
    </ion-item>
    <ion-item routerLink="/achievements" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Достижения
      </p>
    </ion-item>
    <ion-item routerLink="chat" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Чат
      </p>
      <ion-badge slot="end">99</ion-badge>
    </ion-item>
    <ion-item routerLink="calendar" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Календарь
      </p>
    </ion-item>
    <ion-item routerLink="notifications" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Уведомления
      </p>
      <ion-badge slot="end">99</ion-badge>
    </ion-item>
    <ion-item routerLink="prog-passports" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Библиотека паспортов программ
      </p>
    </ion-item>
    <ion-item routerLink="diplomas" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Купленные паспорты программ
      </p>
    </ion-item>
    <ion-item routerLink="/auth" lines="none">
      <ion-icon class="ion-padding-end" name="star-outline"></ion-icon>
      <p>
        Выход
      </p>
    </ion-item>
  </ion-list>
</ion-content>