<ion-content mode="ios">
  <ion-list class="wrapper">
    <ion-img class="bgr-conor" src="../../assets/bgr-conor.png"></ion-img>
    <ion-toolbar class="toolbar">
      <ion-select value="RUS" class="select" slot="start">
        <ion-select-option value="RUS">RUS</ion-select-option>
        <ion-select-option value="ENG">ENG</ion-select-option>
      </ion-select>
      <ion-button routerLink="/auth" class="button" slot="end" fill="clear">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-item class="user-info" routerLink="/edit-user" detailIcon="" lines="none">
      <ion-avatar class="avatar" slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label class="label">
        <ion-text class="user-name" color="dark">Классен Дмитрий</ion-text>
        <ion-text class="user-number">Пользователь № <b>345</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item routerLink="prog-passports" class="items margin-top-further" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Библиотека паспортов программ</p>
    </ion-item>

    <ion-item routerLink="diplomas" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Мои паспорты программ</p>
    </ion-item>

    <ion-item routerLink="learn-material" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Курсы</p>
    </ion-item>

    <ion-item routerLink="/achievements" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Достижения</p>
    </ion-item>

    <ion-item routerLink="chat" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-3.png" class="img"></ion-img>
      <p>Чат</p>
      <ion-badge class="badge-info" slot="end">99</ion-badge>
    </ion-item>

    <ion-item routerLink="calendar" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Календарь</p>
    </ion-item>

    <ion-item routerLink="notifications" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-5.png" class="img"></ion-img>
      <p>Уведомления</p>
      <ion-badge class="badge-info" slot="end">99</ion-badge>
    </ion-item>

    <ion-item routerLink="diplomas" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Мои дипломы и сертификаты</p>
    </ion-item>

    <ion-item routerLink="/mentor-participation" class="items" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Программа наставничества</p>
    </ion-item>

    <ion-item routerLink="/auth" class="items margin-top-further" detailIcon="" lines="none">
      <ion-img src="../../assets/icon/menu-item-1.png" class="img"></ion-img>
      <p>Выйти</p>
    </ion-item>
  </ion-list>
</ion-content>