.block {
	display: block;
}

.head-card {
	font-weight: bold;
}

.btn {
	width: 50%;
}

.bgr-bottom {
	background: #eee;
	border-radius: 20px;
}

.bottom-btns {
	position: fixed;
	bottom: 45px;
}

.bottom {
 position: fixed;
 bottom: 0;
}