<ion-header mode="ios" class="ion-padding-horizontal ion-no-border">
  <ion-toolbar class="ev-toolbar">
    <ion-button routerLink="/menu/calendar" class="ev-button ion-no-padding ion-no-margin" slot="end">
      <ion-icon class="ev-img" name="close"></ion-icon>
    </ion-button>
    <ion-label class="ev-title" slot="start">
      3 Августа, 2020
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card class="ev-card ion-no-margin ion-margin-horizontal">
    <ion-item lines="full">
      <ion-label>
        <ion-text class="ev-headCard">Ярмарка учебников</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="ev-timeLocation ion-no-margin">
        <ion-text class="ev-timeLocation__text block">
          <ion-icon class="ev-time__icon" name="timer-outline"></ion-icon>
          10:00 - 12:00
        </ion-text>
        <ion-text class="ev-timeLocation__text block">
          <ion-icon class="ev-location__icon" name="location-outline"></ion-icon>
          Школьный стадион
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ev-description ion-no-margin">
        <ion-text class="ev-description__text pre-wrap">Закупка учебниками на предстоящий учебный год</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ev-btns">
    <ion-button routerLink="/menu/calendar/create-event" class="ev-btns__edit" size="default" shape="round" fill="outline">Редактировать</ion-button>
    <ion-button routerLink="/menu/calendar" class="ev-btns__remove" size="default" shape="round">Удалить</ion-button>
  </ion-toolbar>
  
  <ion-item class="ev-toast" lines="none">
      <ion-text class="pre-wrap">Наставляемый ещё не принял решение об&nbsp;участии</ion-text>
  </ion-item>
</ion-footer>