ion-content::part(background) {
	background: url(../../assets/prog-bg.png) no-repeat;
	background-position: -5px top;
	background-size: 113% 2061px;
	margin-top: -100px;
	background-color: #faf7f7;
}


.ev-toolbar {
	--background: rgba(0, 0, 0, 0);
	--min-height: 100px;
	.ev-button {
    --background-activated: rgba(0, 0, 0, 0);
    --background-hover: rgba(0, 0, 0, 0);
    --background: rgba(0, 0, 0, 0);
    --color: #fff;
    height: 28px;
    width: 28px;
    margin: 10px 0 auto;
		.ev-img {
			color: #fff;
		}
	}
	.ev-title {
    margin: auto 0 5px 16px;
    font-size: 17px;
    font-weight: 600;
    color: #faf7f7;
	}
}

.ev-card {
	background: #fff;
	color: #222;
}

.ev-headCard {
	font-weight: bold;
	color: #222;
}

.ev-timeLocation {
	font-size: 14px;
	font-weight: 600;
	color: #9A5034;
	.ev-timeLocation__text {
    margin: 5px 0px;
	}
}

.ev-time__icon {
	position: relative;
	top: 3px;
	color: #B3A29A;
}

.ev-location__icon {
	position: relative;
	top: 1px;
	left: -1px;
	color: #B3A29A;
	width: 15px;
}

.ev-description {
	margin: 10px 0;
	.ev-description__text {
		color: #6C615B;
		font-size: 13px;
		vertical-align: top;
	}
}

ion-footer {
	background: #faf7f7;
	.ev-btns {
    --background: #faf7f7;
    --min-height: 100px;
		--color: #faf7f7;
    margin-bottom: -23px;
    z-index: 0;
		.ev-btns__edit {
			--background: #F9F8F6;
			--background-activated: #F9F8F6;
			--border-color: #B3481E;
			--color: #B3481E;
			width: 49%;
			text-transform: capitalize;
			font-weight: 600;
			padding-left: 11px;
		}
		.ev-btns__remove {
			--background: #B3481E;
			--background-activated: #b16d52;
			--background-hover: #b16d52;
			--box-shadow: 0px 10px 25px #c32d5d40;
			--color: #faf7f7;
			width: 48%;
			text-transform: capitalize;
			font-weight: 600;
			padding-right: 12px;
		}
	}
}

.ev-btns__remove::part(native) {
	color: #faf7f7;
}

.ev-toast {
	background: #F2EAE7;
	color: #B7A9A0;
	margin: 0 16px 10px;
	border-radius: 20px;
	font-size: 13px;
}

.block {
	display: block;
}