ion-content::part(background) {
	background: #fff;
}

.choose-toolbar {
	--background: #c33e01;
	width: calc(100% + 2px);
}

.choose-label {
	margin-left: 20px;
	color: #fff;
}

.choose-icon {
	color: #fff;
}

.choose-item {
	background: #fff;
}

.choose-item-label {
	font-weight: 600;
	font-size: 15px;
	display: block;
}

.choose-item-text {
	font-size: 13px;
	color: #b7a198;
	display: block;
}