<ion-header mode="ios">
  <ion-toolbar class="choose-toolbar ion-no-padding">
    <ion-label>
      <ion-text class="choose-label">Новый диалог</ion-text>
    </ion-label>
    <ion-button (click)="dismiss()" fill="clear" slot="end">
      <ion-icon class="choose-icon" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list class="ion-padding-horizontal">
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Техподдержка</ion-text>
        <ion-text class="choose-item-text">Сервис</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Ментор тестовый</ion-text>
        <ion-text class="choose-item-text">Наставник</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Техподдержка</ion-text>
        <ion-text class="choose-item-text">Сервис</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Ментор тестовый</ion-text>
        <ion-text class="choose-item-text">Наставник</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Техподдержка</ion-text>
        <ion-text class="choose-item-text">Сервис</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Ментор тестовый</ion-text>
        <ion-text class="choose-item-text">Наставник</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Техподдержка</ion-text>
        <ion-text class="choose-item-text">Сервис</ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="choose-item ion-no-padding" lines="full">
      <ion-avatar>
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding-horizontal">
        <ion-text class="choose-item-label dark">Ментор тестовый</ion-text>
        <ion-text class="choose-item-text">Наставник</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>