<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Тестирование
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="light" class="ion-padding">
  <ion-label>

    Вводный курс для муниципальных координаторов программ наставничества молодежи в ТСЖ

  </ion-label>
  <p>Концепция наставничества</p>

  <div class="question">
    <ion-item>
      <ion-badge>Вопрос 1</ion-badge>
      <ion-label slot="end" class="question__request">
        <ion-text>
          <p>
            <small>Напишите свой вариант ответа</small>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label rows="5"
                readonly
                placeholder="">
        <ion-text color="medium" class="block pre-wrap">Сформулируйте еще 1-2 обязательных признака наставника, о которых не сказано в онлайн-консультации.</ion-text>
        <ion-text class="answer pre-wrap smallFont">
          Доброта и скептицизм
        </ion-text>
      </ion-label>
    </ion-item>
  </div>
  <ion-button routerLink="/menu" class="ion-padding-horizontal" expand="block" shape="round">
    Правильно
  </ion-button>
  <ion-button routerLink="/menu" class="ion-padding-horizontal" expand="block" shape="round">
    Не правильно
  </ion-button>
</ion-content>