<ion-header mode="ios">
  <ion-toolbar class="region-toolbar">
    <ion-button routerLink="/edit-user/federal" class="region-button" slot="end">
      <ion-icon class="region-icon" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="region-content" mode="ios">
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Пензенская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Пермский край
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Самарская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Саратовская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Республика Татарстан
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Удмуртская республика
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Ульяновская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Чувашская республика
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Республика Башкортостан
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Кировская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Республика Марий Эл
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Республика Мордовия
  </ion-item>
  <ion-item routerLink="/edit-user" class="region-item pre-wrap" lines="full">
    Нижегородская область
  </ion-item>
</ion-content>