<ion-header mode="ios">
  <ion-toolbar>
    <ion-button routerLink="/edit-user/federal" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Пензенская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Пермский край
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Самарская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Саратовская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Республика Татарстан
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Удмуртская республика
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Ульяновская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Чувашская республика
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Республика Башкортостан
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Кировская область
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Республика Марий Эл
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Республика Мордовия
  </ion-item>
  <ion-item routerLink="/edit-user" class="pre-wrap" lines="full">
    Нижегородская область
  </ion-item>
</ion-content>