ion-content::part(background) {
	--background: #faf7f7;
}

.cp__header {
	background: #faf7f7;
	padding-bottom: 5px;
	.cp__toolbar {
		--background: #faf7f7;
		.cp__button {
			--color: #222;
			--background-activated: #faf7f7;
			--background: #faf7f7;
			.cp__img {
				filter: brightness(0.4);
			}
		}
		.title {
			background: #faf7f7;
			color: #c33e01;
			letter-spacing: 0.4px;
			font-weight: 600;
			margin-left: 15%;
			position: relative;
			top: 4px;
		}
	}
}

.cp__card {
	position: relative;
	margin-top: 12px;
	min-height: 223px;
	border-radius: 5px;
	background: #fff;
	.cp__card_img {
		height: 100px;
	}
	.cp__card_badge {
		position: absolute;
		top: -1px;
		right: 20px;
		white-space: pre-wrap;
		width: 60px;
		background: #fff;
		color: transparent;
		border-radius: 0;
		font-size: 9px;
		line-height: 13px;
		letter-spacing: 0.6px;
		.cp__card_badgeImg {
			height: 24px;
			padding: 9px 0 3px;
		}
		.cp__card_badge-blue {
			color: #3880ff;
		}
	}
	.cp__card_header {
		.cp__card_headerSubtitle {
			padding: 10px 24px;
			text-transform: unset;
			font-size: 17px;
			line-height: 18px;
		}
	}
}


.cp__btn {
	--background: #F2EAE7;
	--background-activated: #F2EAE7;
	--background-hover: #F2EAE7;
	--color: #535353;
	font-size: 14px;
	font-weight: 600;
	.cp__btn_label {
    min-width: 170px;
    text-align: left;
	}
}