ion-content::part(background) {
	--background: #faf7f7;
}

.cp__header {
	background: #faf7f7;
	padding-bottom: 5px;
	.cp__toolbar {
		--background: #faf7f7;
		.cp__button {
			--color: #222;
			--background-activated: #faf7f7;
			--background: #faf7f7;
			height: 69px;
			width: 60px;
			margin-bottom: -13px;
			.cp__img {
				position: relative;
				left: -8px;
			}
		}
	}
	.title {
		background: #faf7f7;
		padding-left: 20px;
		letter-spacing: 0.62px;
	}
}

.cp__card {
	position: relative;
	margin-top: 12px;
	min-height: 223px;
	border-radius: 5px;
	.cp__card_img {
		height: 100px;
	}
	.cp__card_badge {
    white-space: pre-wrap;
    width: 100%;
    background: #fff;
    color: transparent;
    border-radius: 0;
    font-size: 9px;
    line-height: 13px;
    letter-spacing: 0.6px;
    text-align: left;
    margin: -10px 0 8px;
		.cp__card_badgeImg {
			height: 15px;
			width: 15px;
			display: inline-block;
			position: relative;
			top: 3px;
			margin: 0 5px 0 25px;
		}
		.cp__card_badge-blue {
			color: #3880ff;
		}
	}
	.cp__card_header {
		.cp__card_headerSubtitle {
			padding: 10px 24px;
			text-transform: unset;
			font-size: 17px;
			line-height: 18px;
		}
	}
}


.cp__btn {
	--background: #F2EAE7;
	--color: #535353;
	font-size: 14px;
	font-weight: 600;
	.cp__btn_label {
    min-width: 170px;
    text-align: left;
	}
}