<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Просмотр материала
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/wait-reg">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge>
      <ion-icon class="book" name="book"></ion-icon>
      <small>2 Этапа обучения</small>
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-button class="ion-padding-horizontal" expand="block" shape="round">
    О программе
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="concept" class="ion-padding-horizontal" expand="block" shape="round">
    Концепция наставничества
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-content>
