<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="ce-toolbar">
    <ion-button routerLink="/menu/calendar" class="ce-button ion-no-padding" slot="end">
      <ion-icon class="ce-img" name="close"></ion-icon>
    </ion-button>
    <ion-label class="ce-title">
      Создать событие
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list class="ion-padding-horizontal">
    <ion-item class="ce-item ion-no-padding" lines="full">
      <ion-input placeholder="Название мероприятия"></ion-input>
    </ion-item>
    <ion-item class="ce-item ion-no-padding" lines="none">
      <ion-toggle class="ce-toggle" slot="start"></ion-toggle>
      <ion-label>Весь день</ion-label>
    </ion-item>
    <ion-item class="ce-item ion-no-padding" lines="full">
      <ion-datetime class="ion-no-padding" displayFormat="DD MMM YYYY" placeholder="Дата начала"></ion-datetime>
    </ion-item>
    <ion-item class="ce-item ion-no-padding" lines="full">
      <ion-datetime class="ion-no-padding" displayFormat="DD MMM YYYY" placeholder="Дата окончания"></ion-datetime>
    </ion-item>
    <ion-item class="ce-item ion-no-padding" lines="full">
      <ion-input placeholder="Адрес проведения"></ion-input>
    </ion-item>
    <ion-item class="ce-item ion-no-padding" lines="full">
      <ion-input placeholder="Описание"></ion-input>
    </ion-item>

    <ion-button routerLink="/menu/calendar" class="ce-save-button" shape="round" expand="block">
      Сохранить
    </ion-button>
  </ion-list>
</ion-content>