<ion-header mode="ios" class="concept__header ion-no-border ion-padding">
  <ion-toolbar class="concept__toolbar">
    <ion-button routerLink="/course-preview" class="concept__button">
      <ion-img src="../../assets/icon/arrow-white-back.png" class="concept__img"></ion-img>
    </ion-button>
    <ion-label class="concept__label">
      Концепция наставничества
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <ion-list>
    <ion-label class="title clearSans">Концепция наставничества</ion-label>
    <ion-text class="concept__text" color="medium clearSans">Изучите запись онлайн-консультации о концепции наставничества и выполните дополнительное задание</ion-text>
    <ion-item class="video ion-no-padding ion-no-margin" lines="none">
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/OD4-1t_8B4E" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-item>
  </ion-list>

  <ion-button class="concept__btn_done clearSans ion-padding ion-margin" fill="outline" expand="block" shape="round">
    Я изучил этот этап!
    <ion-icon slot="start" name="checkmark-outline"></ion-icon>
  </ion-button>
  <ion-button routerLink="testing" class="concept__btn clearSans ion-padding ion-margin" expand="block" shape="round">
    Выполнить задание
  </ion-button>
</ion-content>