ion-content::part(background) {
	--background: #faf7f7;
}

.lm__header {
	background: #faf7f7;
	padding-bottom: 5px;
	.lm__toolbar {
		--background: #faf7f7;
		.lm__button {
			--color: #222;
			--background-activated: #faf7f7;
			--background: #faf7f7;
			height: 28px;
			width: 28px;
			margin: 0 4% 0 -5px;
		}
		.title {
			background: #faf7f7;
			letter-spacing: 0.4px;
			color: #c33e01;
			font-size: 16px;
			font-weight: 600;
			position: relative;
			top: 5px;
			margin-left: 3%;
		}
	}
}

.lm__card {
	position: relative;
	margin-top: 12px;
	min-height: 223px;
	border-radius: 5px;
	background: #fff;
	.lm__card_img {
		height: 100px;
	}
	.lm__card_badge {
		position: absolute;
		top: -1px;
		right: 20px;
		white-space: pre-wrap;
		width: 60px;
		background: #fff;
		color: transparent;
		border-radius: 0;
		font-size: 9px;
		line-height: 13px;
		letter-spacing: 0.6px;
		.lm__card_badgeImg {
			height: 24px;
			padding: 9px 0 3px;
		}
		.lm__card_badge-blue {
			color: #3880ff;
		}
	}
	.lm__card_header {
		.lm__card_headerSubtitle {
			padding: 10px 24px;
			text-transform: unset;
			font-size: 17px;
			line-height: 18px;
		}
	}
}