<ion-header mode="ios" class="lm__header ion-no-border">
  <ion-toolbar class="lm__toolbar ion-margin-horizontal">
    <ion-button routerLink="/menu" class="ion-no-margin ion-no-padding lm__button">
      <ion-img src="../../assets/icon/menu.svg"></ion-img>
    </ion-button>
    <ion-label class="title">
      Материалы для изучения
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-horizontal">
  <ion-card routerLink="/course-preview" class="lm__card ion-no-margin">
    <ion-img src="../../assets/icon/favicon.png" class="lm__card_img"></ion-img>
    <ion-badge class="lm__card_badge clearSans ion-no-padding">
      <ion-img src="../../assets/icon/combinedShape-blue.png" class="lm__card_badgeImg"></ion-img>
      <ion-text class="lm__card_badge-blue">2 Этапа обучения</ion-text>
    </ion-badge>
    <ion-card-header class="lm__card_header ion-no-padding">
      <ion-card-subtitle class="lm__card_headerSubtitle clearSans">Вводный курс для муниципальных координаторов программ
        наставничества молодёжи в&nbsp;ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview" class="lm__card ion-no-margin">
    <ion-img src="../../assets/icon/favicon.png" class="lm__card_img"></ion-img>
    <ion-badge class="lm__card_badge clearSans ion-no-padding">
      <ion-img src="../../assets/icon/combinedShape-blue.png" class="lm__card_badgeImg"></ion-img>
      <ion-text class="lm__card_badge-blue">11 Этапов</ion-text>
    </ion-badge>
    <ion-card-header class="lm__card_header ion-no-padding">
      <ion-card-subtitle class="lm__card_headerSubtitle clearSans">1 Практикум муниципальных координаторов
        наставничества молодежи в ТЖС</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview" class="lm__card ion-no-margin">
    <ion-img src="../../assets/icon/favicon.png" class="lm__card_img"></ion-img>
    <ion-badge class="lm__card_badge clearSans ion-no-padding">
      <ion-img src="../../assets/icon/combinedShape-blue.png" class="lm__card_badgeImg"></ion-img>
      <ion-text class="lm__card_badge-blue">4 Этапа обучения</ion-text>
    </ion-badge>
    <ion-card-header class="lm__card_header ion-no-padding">
      <ion-card-subtitle class="lm__card_headerSubtitle clearSans">2 Методика наставничества молодежи в ТЖС
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview" class="lm__card ion-no-margin">
    <ion-img src="../../assets/icon/favicon.png" class="lm__card_img"></ion-img>
    <ion-badge class="lm__card_badge clearSans ion-no-padding">
      <ion-img src="../../assets/icon/combinedShape-blue.png" class="lm__card_badgeImg"></ion-img>
      <ion-text class="lm__card_badge-blue">2 Этапа обучения</ion-text>
    </ion-badge>
    <ion-card-header class="lm__card_header ion-no-padding">
      <ion-card-subtitle class="lm__card_headerSubtitle clearSans">Вводный курс для муниципальных координаторов программ
        наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview" class="lm__card ion-no-margin">
    <ion-img src="../../assets/icon/favicon.png" class="lm__card_img"></ion-img>
    <ion-badge class="lm__card_badge clearSans lm__card_badge-brown ion-no-padding">
      <ion-img src="../../assets/icon/combinedShape-blue.png" class="lm__card_badgeImg"></ion-img>
      <ion-text class="lm__card_badge-blue">2 Этапа обучения</ion-text>
    </ion-badge>
    <ion-card-header class="lm__card_header ion-no-padding">
      <ion-card-subtitle class="lm__card_headerSubtitle clearSans">Вводный курс для муниципальных координаторов программ
        наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview" class="lm__card ion-no-margin">
    <ion-img src="../../assets/icon/favicon.png" class="lm__card_img"></ion-img>
    <ion-badge class="lm__card_badge clearSans lm__card_badge-orange ion-no-padding">
      <ion-img src="../../assets/icon/combinedShape-blue.png" class="lm__card_badgeImg"></ion-img>
      <ion-text class="lm__card_badge-blue">2 Этапа обучения</ion-text>
    </ion-badge>
    <ion-card-header class="lm__card_header ion-no-padding">
      <ion-card-subtitle class="lm__card_headerSubtitle clearSans">Вводный курс для муниципальных координаторов программ
        наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>