<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Материалы для изучения
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card routerLink="/course-preview">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge class="x-smallFont">
      <ion-icon class="book" name="book"></ion-icon>
      2 Этапа обучения
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge class="x-smallFont">
      <ion-icon class="book" name="book"></ion-icon>
      2 Этапа обучения
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge class="x-smallFont">
      <ion-icon class="book" name="book"></ion-icon>
      2 Этапа обучения
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge class="x-smallFont">
      <ion-icon class="book" name="book"></ion-icon>
      2 Этапа обучения
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge class="x-smallFont">
      <ion-icon class="book" name="book"></ion-icon>
      2 Этапа обучения
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/course-preview">
    <ion-img src="../../assets/icon/favicon.png"></ion-img>
    <ion-badge class="x-smallFont">
      <ion-icon class="book" name="book"></ion-icon>
      2 Этапа обучения
    </ion-badge>
    <ion-card-header>
      <ion-card-subtitle>Вводный курс для муниципальных координаторов программ наставничества молодёжи в ТСЖ</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
