<ion-header mode="ios" class="calendar-header ion-no-border ion-padding">
  <ion-toolbar routerLink="another-achievement" class="calendar-toolbar">
    <ion-button routerLink="/menu" class="calendar-button ion-no-padding ion-no-margin">
      <ion-img src="../../assets/icon/menu.svg" class="calendar-img"></ion-img>
    </ion-button>
    <ion-label class="calendar-label">
      Календарь
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="grayItem" lines="none">
    <ion-label>
      <ion-text class="calendar-titleDay bold">4 Августа</ion-text>
      <ion-text class="calendar-titleYear bold">2020</ion-text>
    </ion-label>
    <ion-button routerLink="create-event" class="calendar-addBtn ion-no-padding ion-no-margin ion-align-self-baseline" shape="round">
      <ion-icon class="ion-no-margin bgrIcon" slot="end" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-grid class="grid">
    <ion-row class="headCells">
      <ion-col class="headCell cell">ПН</ion-col>
      <ion-col class="headCell cell">ВТ</ion-col>
      <ion-col class="headCell cell">СР</ion-col>
      <ion-col class="headCell cell">ЧТ</ion-col>
      <ion-col class="headCell cell">ПТ</ion-col>
      <ion-col class="headCell cell">СБ</ion-col>
      <ion-col class="headCell cell sunday">ВС</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell bold ion-justify-content-start"><ion-text>АВГУСТ</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">1</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell sunday">2</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell cellMark"></ion-col>
      <ion-col class="calendarCell cellToday cell">4</ion-col>
      <ion-col class="calendarCell cell">5</ion-col>
      <ion-col class="calendarCell cell">6</ion-col>
      <ion-col class="calendarCell cell">7</ion-col>
      <ion-col class="calendarCell cell">8</ion-col>
      <ion-col class="calendarCell cell sunday">9</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">10</ion-col>
      <ion-col class="calendarCell cell">11</ion-col>
      <ion-col class="calendarCell cell">12</ion-col>
      <ion-col class="calendarCell cell">13</ion-col>
      <ion-col class="calendarCell cell">14</ion-col>
      <ion-col class="calendarCell cell">15</ion-col>
      <ion-col class="calendarCell cell sunday">16</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">17</ion-col>
      <ion-col class="calendarCell cell">18</ion-col>
      <ion-col class="calendarCell cell">19</ion-col>
      <ion-col class="calendarCell cell">20</ion-col>
      <ion-col class="calendarCell cell">21</ion-col>
      <ion-col class="calendarCell cell">22</ion-col>
      <ion-col class="calendarCell cell sunday">23</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">24</ion-col>
      <ion-col class="calendarCell cell">25</ion-col>
      <ion-col class="calendarCell cell">26</ion-col>
      <ion-col class="calendarCell cell">27</ion-col>
      <ion-col class="calendarCell cell">28</ion-col>
      <ion-col class="calendarCell cell">29</ion-col>
      <ion-col class="calendarCell cell sunday">30</ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="create-event" class="calendarCell cell">31</ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell sunday"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid">
    <ion-row>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell ion-justify-content-start"><ion-text>СЕНТЯБРЬ</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell"></ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">1</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">2</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">3</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">4</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">5</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell sunday">6</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">7</ion-col>
      <ion-col class="calendarCell cell">8</ion-col>
      <ion-col class="calendarCell cell">9</ion-col>
      <ion-col class="calendarCell cell">10</ion-col>
      <ion-col class="calendarCell cell">11</ion-col>
      <ion-col class="calendarCell cell">12</ion-col>
      <ion-col class="calendarCell cell sunday">13</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">14</ion-col>
      <ion-col class="calendarCell cell">15</ion-col>
      <ion-col class="calendarCell cell">16</ion-col>
      <ion-col class="calendarCell cell">17</ion-col>
      <ion-col class="calendarCell cell">18</ion-col>
      <ion-col class="calendarCell cell">19</ion-col>
      <ion-col class="calendarCell cell sunday">20</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">21</ion-col>
      <ion-col class="calendarCell cell">22</ion-col>
      <ion-col class="calendarCell cell">23</ion-col>
      <ion-col class="calendarCell cell">24</ion-col>
      <ion-col class="calendarCell cell">25</ion-col>
      <ion-col class="calendarCell cell">26</ion-col>
      <ion-col class="calendarCell cell sunday">27</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">28</ion-col>
      <ion-col class="calendarCell cell">29</ion-col>
      <ion-col class="calendarCell cell">30</ion-col>
      <ion-col class="calendarCell cell">27</ion-col>
      <ion-col class="calendarCell cell">28</ion-col>
      <ion-col class="calendarCell cell">29</ion-col>
      <ion-col class="calendarCell cell sunday">30</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid">
    <ion-row>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell ion-justify-content-start"><ion-text>ОКТЯБРЬ</ion-text></ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">1</ion-col>
      <ion-col class="calendarCell cell">2</ion-col>
      <ion-col class="calendarCell cell">3</ion-col>
      <ion-col class="calendarCell cell">4</ion-col>
      <ion-col class="calendarCell cell">5</ion-col>
      <ion-col class="calendarCell cell">6</ion-col>
      <ion-col class="calendarCell cell sunday">7</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">8</ion-col>
      <ion-col class="calendarCell cell">9</ion-col>
      <ion-col class="calendarCell cell">10</ion-col>
      <ion-col class="calendarCell cell">11</ion-col>
      <ion-col class="calendarCell cell">12</ion-col>
      <ion-col class="calendarCell cell">13</ion-col>
      <ion-col class="calendarCell cell sunday">14</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">15</ion-col>
      <ion-col class="calendarCell cell">16</ion-col>
      <ion-col class="calendarCell cell">17</ion-col>
      <ion-col class="calendarCell cell">18</ion-col>
      <ion-col class="calendarCell cell">19</ion-col>
      <ion-col class="calendarCell cell">20</ion-col>
      <ion-col class="calendarCell cell sunday">21</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">22</ion-col>
      <ion-col class="calendarCell cell">23</ion-col>
      <ion-col class="calendarCell cell">24</ion-col>
      <ion-col class="calendarCell cell">25</ion-col>
      <ion-col class="calendarCell cell">26</ion-col>
      <ion-col class="calendarCell cell">27</ion-col>
      <ion-col class="calendarCell cell sunday">28</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">29</ion-col>
      <ion-col class="calendarCell cell">30</ion-col>
      <ion-col class="calendarCell cell">31</ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell sunday"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid">
    <ion-row>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell ion-justify-content-start"><ion-text>НОЯБРЬ</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">1</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">2</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">3</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell sunday">4</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">5</ion-col>
      <ion-col class="calendarCell cell">6</ion-col>
      <ion-col class="calendarCell cell">7</ion-col>
      <ion-col class="calendarCell cell">8</ion-col>
      <ion-col class="calendarCell cell">9</ion-col>
      <ion-col class="calendarCell cell">10</ion-col>
      <ion-col class="calendarCell cell sunday">11</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">12</ion-col>
      <ion-col class="calendarCell cell">13</ion-col>
      <ion-col class="calendarCell cell">14</ion-col>
      <ion-col class="calendarCell cell">15</ion-col>
      <ion-col class="calendarCell cell">16</ion-col>
      <ion-col class="calendarCell cell">17</ion-col>
      <ion-col class="calendarCell cell sunday">18</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">19</ion-col>
      <ion-col class="calendarCell cell">20</ion-col>
      <ion-col class="calendarCell cell">21</ion-col>
      <ion-col class="calendarCell cell">22</ion-col>
      <ion-col class="calendarCell cell">23</ion-col>
      <ion-col class="calendarCell cell">24</ion-col>
      <ion-col class="calendarCell cell sunday">25</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">26</ion-col>
      <ion-col class="calendarCell cell">27</ion-col>
      <ion-col class="calendarCell cell">28</ion-col>
      <ion-col class="calendarCell cell">29</ion-col>
      <ion-col class="calendarCell cell">30</ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell sunday"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid">
    <ion-row>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell"></ion-col>
      <ion-col class="monthCell cell ion-justify-content-start"><ion-text>ДЕКАБРЬ</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell">1</ion-col>
      <ion-col routerLink="create-event" class="calendarCell cell sunday">2</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">3</ion-col>
      <ion-col class="calendarCell cell">4</ion-col>
      <ion-col class="calendarCell cell">5</ion-col>
      <ion-col class="calendarCell cell">6</ion-col>
      <ion-col class="calendarCell cell">7</ion-col>
      <ion-col class="calendarCell cell">8</ion-col>
      <ion-col class="calendarCell cell sunday">9</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">10</ion-col>
      <ion-col class="calendarCell cell">11</ion-col>
      <ion-col class="calendarCell cell">12</ion-col>
      <ion-col class="calendarCell cell">13</ion-col>
      <ion-col class="calendarCell cell">14</ion-col>
      <ion-col class="calendarCell cell">15</ion-col>
      <ion-col class="calendarCell cell sunday">16</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">17</ion-col>
      <ion-col class="calendarCell cell">18</ion-col>
      <ion-col class="calendarCell cell">19</ion-col>
      <ion-col class="calendarCell cell">20</ion-col>
      <ion-col class="calendarCell cell">21</ion-col>
      <ion-col class="calendarCell cell">22</ion-col>
      <ion-col class="calendarCell cell sunday">23</ion-col>
    </ion-row>
    <ion-row routerLink="create-event">
      <ion-col class="calendarCell cell">24</ion-col>
      <ion-col class="calendarCell cell">25</ion-col>
      <ion-col class="calendarCell cell">26</ion-col>
      <ion-col class="calendarCell cell">27</ion-col>
      <ion-col class="calendarCell cell">28</ion-col>
      <ion-col class="calendarCell cell">29</ion-col>
      <ion-col class="calendarCell cell sunday">30</ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="create-event" class="calendarCell cell">31</ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell"></ion-col>
      <ion-col class="cell sunday"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
