<ion-header mode="ios" class="ion-padding ion-no-border">
  <ion-toolbar class="notifications__toolbar">
    <ion-button routerLink="/menu" class="notifications__button">
      <ion-img src="../../assets/icon/arrow-white-back.png" class="notifications__img"></ion-img>
    </ion-button>
    <ion-label class="notifications__title">
      Уведомления
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <ion-list>
    <ion-item routerLink="/course-preview" class="notifications__item ion-no-padding" lines="full">
      <ion-label>
        <ion-text class="notifications__label pre-wrap">Назначение руководителя</ion-text>
        <ion-text class="notifications__text pre-wrap">Вам был назначен наставник "&nbsp;"</ion-text>
      </ion-label>
      <ion-badge class="notifications__badge">
        <ion-text class="notifications__date">17.06.2020</ion-text>
        <ion-text class="notifications__time">16:45:05</ion-text>
      </ion-badge>
    </ion-item>

    <ion-item routerLink="/course-preview" class="notifications__item ion-no-padding" lines="full">
      <ion-label>
        <ion-text class="notifications__label pre-wrap">Вам доступен новый курс</ion-text>
        <ion-text class="notifications__text pre-wrap">Изучите курс "Вводный курс для муниципальных координаторов
          программ наставничества молодежи в ТСЖ" в разделе "Материалы для изучения"</ion-text>
      </ion-label>
      <ion-badge class="notifications__badge">
        <ion-text class="notifications__date">17.06.2020</ion-text>
        <ion-text class="notifications__time">16:41:02</ion-text>
      </ion-badge>
    </ion-item>

    <ion-item routerLink="/course-preview" class="notifications__item ion-no-padding" lines="full">
      <ion-label>
        <ion-text class="notifications__label pre-wrap">Назначение руководителя</ion-text>
        <ion-text class="notifications__text pre-wrap">Вам был назначен наставник "&nbsp;"</ion-text>
      </ion-label>
      <ion-badge class="notifications__badge">
        <ion-text class="notifications__date">17.06.2020</ion-text>
        <ion-text class="notifications__time">16:45:05</ion-text>
      </ion-badge>
    </ion-item>

    <ion-item routerLink="/course-preview" class="notifications__item ion-no-padding" lines="full">
      <ion-label>
        <ion-text class="notifications__label pre-wrap">Вам доступен новый курс</ion-text>
        <ion-text class="notifications__text pre-wrap">Изучите курс "Вводный курс для муниципальных координаторов
          программ наставничества молодежи в ТСЖ" в разделе "Материалы для изучения"</ion-text>
      </ion-label>
      <ion-badge class="notifications__badge">
        <ion-text class="notifications__date">17.06.2020</ion-text>
        <ion-text class="notifications__time">16:41:02</ion-text>
      </ion-badge>
    </ion-item>
    
    <ion-item routerLink="/course-preview" class="notifications__item ion-no-padding" lines="full">
      <ion-label>
        <ion-text class="notifications__label pre-wrap">Назначение руководителя</ion-text>
        <ion-text class="notifications__text pre-wrap">Вам был назначен наставник "&nbsp;"</ion-text>
      </ion-label>
      <ion-badge class="notifications__badge">
        <ion-text class="notifications__date">17.06.2020</ion-text>
        <ion-text class="notifications__time">16:45:05</ion-text>
      </ion-badge>
    </ion-item>

    <ion-item routerLink="/course-preview" class="notifications__item ion-no-padding" lines="full">
      <ion-label>
        <ion-text class="notifications__label pre-wrap">Вам доступен новый курс</ion-text>
        <ion-text class="notifications__text pre-wrap">Изучите курс "Вводный курс для муниципальных координаторов
          программ наставничества молодежи в ТСЖ" в разделе "Материалы для изучения"</ion-text>
      </ion-label>
      <ion-badge class="notifications__badge">
        <ion-text class="notifications__date">17.06.2020</ion-text>
        <ion-text class="notifications__time">16:41:02</ion-text>
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>