<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-padding">
      Уведомления
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button routerLink="/menu">
        <ion-icon color="dark" size="large" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Назначение руководителя
      <p>Вам был назначен наставник " "</p>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:45:05</div>
    </ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>
      Вам доступен новый курс
      <p>Изучите курс "Вводный курс для муниципальных координаторов программ наставничества молодежи в ТСЖ" в разделе "Материалы для изучения"</p>
    </ion-label>
    <ion-badge class="badge">
      <div>17.06.2020</div>
      <div>16:41:02</div>
    </ion-badge>
  </ion-item>
</ion-content>
